#opac {
  margin-top: 20px;
}

#left-menu {
  border: solid 2px #005826;
  background: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 10px;
}

#left-menu .hr {
  width: 100%;
  background: #005826;
  height: 30px;
}

#left-menu a:hover {
  left: 10px;
}

/* body{
  background: #DBDAD7;
} */
#left-menu img {
  width: 100%;
  height: 50px;
}

img:hover {
  opacity: .8;
}

.open-access {
  position: relative;
  background: #005826;
  padding: 5px;
  margin-bottom: 10px;
}

.open-access h4 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

a {
  text-decoration: none;
  position: relative;
}

#databases .center {
  margin: auto;
}

#databases img {
  width: 200px;
  height: 50px;
}

#databases .space {
  padding: 5px;
}

#opac {
  margin-top: 20px;
}

#left-menu {
  border: solid 2px #005826;
  background: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 10px;
}

#left-menu .hr {
  width: 100%;
  background: #005826;
  height: 30px;
}

#left-menu a:hover {
  left: 10px;
}

/* body{
  background: #DBDAD7;
} */
#left-menu img {
  width: 100%;
  height: 50px;
}

img:hover {
  opacity: .8;
}

.open-access {
  position: relative;
  background: #005826;
  padding: 5px;
  margin-bottom: 10px;
}

.open-access h4 {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

a {
  text-decoration: none;
  position: relative;
}

#databases .center {
  margin: auto;
}

#databases img {
  width: 200px;
  height: 50px;
}

#databases .space {
  padding: 5px;
}
